/***** Variables *****/

html {
    /* Sizes */
    --display-height: 530px;
    --display-width: 800px;
    --map-cell-size: 50px;
    --sprite-size: var(--map-cell-size);


    /* Fonts */
    --primary-font: 'Cormorant SC';
    --secondary-font: 'Pirata One';
    --font-size-large: 24pt;
    --font-size-med: 18pt;
    --font-size-small: 16pt;
    --font-size-xs-small: 12pt;

    /* Colors */
    --background-color: rgba(255, 255, 255, 0.7);
    --background-color-2: rgba(255, 255, 255, 0.9);
    
    --fade-background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
    --fade-opaque-background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
    --body-fade-background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

/***** Custom Classes *****/
.header {
    background: var(--fade-background);
    margin: 0;
    display: inline-block;
    padding: 0 50px;
    font-family: var(--secondary-font);
}