@page "/"

@* <HelpDrawer></HelpDrawer> *@

<div class="main-menu-wrapper">
  <Header>Shipwrecked</Header>
  <Header>Shipwrecked</Header>
  <div class="button-wrapper">
    <button>button 1</button>   
  </div>
</div>


<!-- <app-help-drawer></app-help-drawer>

<div class="main-menu-wrapper">
  <app-header>Shipwrecked</app-header>
  <div class="button-wrapper">
    <app-button type="banner" route="/new-game">New Game</app-button>
    <app-button type="banner" route="/load-game">Load Game</app-button>
    <app-button type="banner" (click)="handleHelpButtonClick()">Help Menu</app-button>
  </div>
</div> -->


@code {
    
}