.overlay {
    display: block;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.modal {
    display: block;
    position: absolute;
    top: 60px;
    left: calc((100vw - 600px) / 2);
    z-index: 2;
    height: 400px;
    width: 600px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 5px;

    .close-button {
        font-family: var(--primary-font);
        font-size: var(--font-size-large);
        float: right;
        cursor: pointer;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}