<div class="overlay @(IsOpen ? "visible" : "hidden")" @onclick="CloseModal"></div>

<div class="modal @(IsOpen ? "visible" : "hidden")">
    @if (IsCloseable)
    {
         <span class="close-button" @onclick="CloseModal">X</span>
    }
    @ChildContent
</div>