<div class="toast show @Alert.AlertTypeString" style="min-width: 300px; min-height: fit-content;">
    <div class="toast-body">
        <span class="delete-button" @onclick="DeleteToast">X</span> 
        <span>@Alert.Message</span>
    </div>
</div>