@using Fluxor
@using Shipwrecked.UI.Store.Game
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1 class="header">Day @GameState.Value.Game?.Day</h1>

@code {

    [Inject] private IState<GameState> GameState { get; set; } = default!;

}