@using Shipwrecked.Infrastructure.Interfaces
<h1 class="header">Day @GameState?.Day</h1>

@code {
    [Inject] 
    private IReadContext Context { get; set; } = default!;

    private Game? GameState { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("game summary init called");
        GameState = Context.GetState().Game;        
        base.OnInitialized();
    }

}