@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (PlayerState.Value.Player is not null)
{
    <div class="player-summary-wrapper">
        <img src="@PlayerState.Value.Player.ProfileImg" class="profile-img" alt="character profile image">

        <p class="player-name">@PlayerState.Value.Player.Name</p>
        <p class="level">Level: @PlayerState.Value.Player.Level</p>
        @* <app-gauge label="Health" [max]="player?.maxHealth ?? 0" [value]="player?.health?? 0"></app-gauge> *@
        @* <app-gauge label="Stamina" [max]="player?.maxStamina ?? 0" [value]="player?.stamina ?? 0"></app-gauge> *@
        @* <app-gauge label="Exp" [max]="100" [value]="player?.experience ?? 0" type="info"></app-gauge> *@

        <!-- <button class="inventory-button">
        <img src="../../../assets/treasure-chest.svg" alt="inventory icon">
      </button> -->

    </div>
}
