@* <button (click)="handleClick($event)" [routerLink]="route ? route: null" [ngClass]="type" [disabled]="disabled"> *@
@*     <ng-content></ng-content> *@
@* </button> *@

<button
    class="@Variant.ToString().ToLower()"
    disabled="@Disabled">
    @ChildContent
</button>