@page "/Game/{Id}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="game-wrapper">

    <div class="left-col">
        <GameSummary></GameSummary>
        <PlayerSummary></PlayerSummary>

        <div class="bottom-wrapper">
            <div class="col">
                <Button OnClickCallback="Wait" Variant="ButtonType.Primary">Wait</Button>
                <Button OnClickCallback="OpenMenu" Variant="ButtonType.Primary">Menu</Button>
            </div>
        </div>
    </div>
    
    <div class="map-wrapper">
        <p>The map will go here!</p>
    </div>

</div>

<Modal @bind-IsOpen="@MenuIsOpen">
    <div class="menu-wrapper">
        <h2>Menu</h2>
        <Button OnClickCallback="@SaveGame">Save Game</Button>
        <Button OnClickCallback="@QuitGame">Quit Game</Button>
    </div>
</Modal>
