@page "/Game/{Id}"

<GameSummary></GameSummary>
<p>Game Id: @Id</p>

<h4>Game</h4>
<p>Day: @_gameContext.Day</p>

<h4>Player</h4>
<p>Day: @_playerContext.Name</p>

<button @onclick="IncrementDay">Increment Day</button>
