@page "/Game/{Id}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="game-wrapper">

    <div class="left-col">
        <GameSummary></GameSummary>
        <PlayerSummary></PlayerSummary>

        <div class="bottom-wrapper">
            <div class="col">
                <Button OnClickCallback="HandleWaitClick" Variant="ButtonType.Primary">Wait</Button>
                <Button OnClickCallback="HandleMenuClick" Variant="ButtonType.Primary">Menu</Button>
            </div>
        </div>
    </div>
    
    <div class="right-col">
        <button @onclick="HandleWaitClick">Increment Day</button>
        <button @onclick="SaveGame">Save Game</button>
    </div>

</div>
