@page "/Game/{Id}"

<GameSummary></GameSummary>
<p>Game Id: @Id</p>

<h4>Game</h4>
<p>Day: @GameState.Day</p>

<h4>Player</h4>
<p>Day: @PlayerState.Name</p>

<button @onclick="IncrementDay">Increment Day</button>

<button @onclick="SaveGame">Save Game</button>
