.main-menu-wrapper {
    height: 100%;
    overflow-y: scroll;

    .button-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: calc(100% - 38px - 30px);

        button {
            margin-top: 30px;
        }
    }
}