@page "/"

<HelpDrawer></HelpDrawer>

<div class="main-menu-wrapper">
  <h1 class="header">Shipwrecked</h1>
  <div class="button-wrapper">
    <Button Variant="ButtonType.Banner" Route="/new-game">New Game</Button>
    <Button Variant="ButtonType.Banner" Route="/load-game">Load Game</Button>
    <Button Variant="ButtonType.Banner" OnClickCallback="@HelpMenuClicked" Disabled="@false">Help Menu</Button>
  </div>
</div>
