@page "/"

<div class="main-menu-wrapper">
  <h1 class="header">Shipwrecked</h1>
  <div class="button-wrapper">
    <Button Variant="ButtonType.Banner" Route="/new-game">New Game</Button>
    <Button Variant="ButtonType.Banner" Route="/load-game">Load Game</Button>
    <Button Variant="ButtonType.Banner" OnClickCallback="@OpenDrawer" Disabled="@false">About</Button>
  </div>
</div>

<Drawer @bind-IsOpen="@HelpDrawerOpen" Title="About the Game">
  <h2 style="font-family: var(--secondary-font)">Purpose of the Game</h2>
  <p>
    The purpose of the game is to survive however you can. You're stuck on a
    tropical Island, so you can either try and escape on your own by building
    a raft & floating to safety, or by building a large signal fire on
    the beach in an attempt to attract help. Maybe your best bet is to simply
    wait patiently till someone comes to find you. I mean, after such a large
    ship went down SOMEONE's bound to come looking for survivors, Right?
  </p>
</Drawer>
